<form class="form-inline d-flex justify-content-center md-form form-sm" asp-controller="Place" asp-action="SearchPlaces" method="post">
    <div class="md-form mt-0">
        <input name="search" id="search" class="form-control form-control-sm mr-3 w-100" type="text" placeholder="Search"
                aria-label="Search">
    </div>
    <i class="fas fa-search" aria-hidden="true"></i>
</form>