@using NiceOne.Services.Identity
@inject ICurrentUserService CurrentUserService

    <ul class="navbar-nav">
        @if (this.User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"
                   title="Welcome">Welcome @CurrentUserService.FirstName!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account"
                   asp-action="ChangePassword">Change Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account"
                   asp-action="Logout">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account"
                   asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account"
                   asp-action="Register">Register</a>
            </li>
        }
    </ul>